@charset "utf-8";

/**
 * In dieser Datei werden alle Definitionen hinterlegt, die den Login betreffen.
 */

/*
####
## Login
####
 */
#login {
	border: 1px solid #AAAAAA;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: auto;
}

#login thead {
	background-color: #000066;
	color: #FFFFFF;
	font-weight: bold;
}

#login #zell_login {
	background-color: #EFEFEF;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
}